@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  @layer base {
    :root {
      /* LOS COLORES SE MANEJAN EN FORMATO HSL*/
      --background: 0 0% 100%; /* Color de fondo */
      --foreground: 240 19% 16%; /* Color de primer plano */
      --card: 0 0% 100%; /* Color de fondo de las tarjetas */
      --card-foreground: 240 19% 16%; /* Color de primer plano de las tarjetas */
      --popover: 0 0% 100%; /* Color de fondo de los popovers */
      --popover-foreground: 222.2 84% 4.9%; /* Color de primer plano de los popovers */
      --primary: 244, 66%, 40%; /* Color primario */
      --primary-foreground: 0, 0%, 100%; /* Color de primer plano para el color primario */
      --secondary: 340, 84%, 53%; /* Color secundario */
      --secondary-foreground: 300 0% 100%; /* Color de primer plano para el color secundario */
      --muted: 210 40% 96.1%; /* Color apagado o "muted" */
      --muted-foreground: 215.4 16.3% 46.9%; /* Color de primer plano para el color apagado */
      --accent: 210 40% 96.1%; /* Color de acento */
      --accent-foreground: 222.2 47.4% 11.2%; /* Color de primer plano para el color de acento */
      --destructive: 0 84.2% 60.2%; /* Color destructivo */
      --destructive-foreground: 210 40% 98%; /* Color de primer plano para el color destructivo */
      --border: 214.3 31.8% 91.4%; /* Color de los bordes */
      --input: 214.3 31.8% 91.4%; /* Color de fondo para campos de entrada */
      --ring: 221.2 83.2% 53.3%; /* Color para el anillo de elementos enfocados */
      --radius: 0.5rem; /* Radio de borde utilizado en elementos */
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 0, 0%, 100%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 244, 66%, 40%;
      --primary-foreground: 0, 0%, 100%;
      --secondary: 340, 84%, 53%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 224.3 76.3% 48%;
    }
  }
  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

 /* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}



html {
  scroll-behavior: smooth;
}

.h1{
  @apply text-4xl xl:text-[60px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.section-title{
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 ;
}

.subtitle{
  @apply text-[#a09f9f] text-lg mb-8 font-medium dark:text-[#d3d3d3];
}

.badge{
  @apply z-10 w-[230px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

.swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
.section-pagination-horizontal.section-pagination-bullets.section-pagination-bullet {
  @apply bg-primary
}


.ecosystem .progress {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 50px;
  text-align: center;
  color: var(--background);
  font-size: 46px;
}

.ecosystem .progress .progressBar {
  height: 10px;
  background: rgb(58,52,154);
  background: linear-gradient(90deg, rgba(58,52,154,1) 0%, rgba(235,37,102,1) 100%);
  border-radius: 10px;
}

.ecosystem .container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ecosystem .container .wrapper{
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ecosystem .container .wrapper .imageContainer{
  flex: 1;
  height: 50%;
}

.ecosystem .container .wrapper .imageContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ecosystem .container .textContainer{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}