@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  @layer base {
    :root {
      /* LOS COLORES SE MANEJAN EN FORMATO HSL*/
      --background: 0 0% 100%; /* Color de fondo */
      --foreground: 240 19% 16%; /* Color de primer plano */
      --card: 0 0% 100%; /* Color de fondo de las tarjetas */
      --card-foreground: 240 19% 16%; /* Color de primer plano de las tarjetas */
      --popover: 0 0% 100%; /* Color de fondo de los popovers */
      --popover-foreground: 222.2 84% 4.9%; /* Color de primer plano de los popovers */
      --primary: 244, 66%, 40%; /* Color primario */
      --primary-foreground: 0, 0%, 100%; /* Color de primer plano para el color primario */
      --secondary: 340, 84%, 53%; /* Color secundario */
      --secondary-foreground: 300 0% 100%; /* Color de primer plano para el color secundario */
      --muted: 210 40% 96.1%; /* Color apagado o "muted" */
      --muted-foreground: 215.4 16.3% 46.9%; /* Color de primer plano para el color apagado */
      --accent: 210 40% 96.1%; /* Color de acento */
      --accent-foreground: 222.2 47.4% 11.2%; /* Color de primer plano para el color de acento */
      --destructive: 0 84.2% 60.2%; /* Color destructivo */
      --destructive-foreground: 210 40% 98%; /* Color de primer plano para el color destructivo */
      --border: 214.3 31.8% 91.4%; /* Color de los bordes */
      --input: 214.3 31.8% 91.4%; /* Color de fondo para campos de entrada */
      --ring: 221.2 83.2% 53.3%; /* Color para el anillo de elementos enfocados */
      --radius: 0.5rem; /* Radio de borde utilizado en elementos */
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 0, 0%, 100%;
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      --primary: 244, 66%, 40%;
      --primary-foreground: 0, 0%, 100%;
      --secondary: 340, 84%, 53%;
      --secondary-foreground: 210 40% 98%;
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 224.3 76.3% 48%;
    }
  }
  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
 
.h1{
  @apply text-4xl xl:text-[60px] xl:leading-[80px] tracking-[-2px] font-bold;
}

.h2 {
  @apply text-4xl font-bold;
}

.h3 {
  @apply text-3xl font-bold;
}

.h4 {
  @apply text-[22px] font-semibold;
}

.section-title{
  @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 ;
}

.subtitle{
  @apply text-[#a09f9f] text-lg mb-8 font-medium dark:text-[#d3d3d3];
}

.badge{
  @apply z-10 w-[230px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
}

.swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
.section-pagination-horizontal.section-pagination-bullets.section-pagination-bullet {
  @apply bg-primary
}